{
  "firebase": {
    "url": "This is the URL of your Firebase database. It is required",
    "key": "This is the secret key for your firebase database. It is only required if you need to bypass security rules"
  },
  "parse": {
    "app_id": "This is the Parse App ID and is only needed for testing. This should not be your prod app",
    "api_key": "This is the Parse JavaScript Key and is only needed for testing. This should not be your prod app"
    "master_key": "This is the Parse Master Key and is only needed for testing. This should not be your prod app"
  }
}
